# Computation
numpy
pandas
tensorflow
tensorflow-probability
tensorflow_datasets
statsmodels
scikit-learn
interpret
pyarrow
fbprophet

# Plotting
hvplot
# holoviews
bokeh
matplotlib
seaborn
selenium
phantomjs-binary


# requests
# Flask
# dash
beautifulsoup4

# Debugging
jupyter
pylint
flake8
rope
black
tabulate
