# Computation
numpy
pandas
# tensorflow
statsmodels

# Plotting
matplotlib
hvplot
# holoviews
bokeh
seaborn
selenium
phantomjs-binary


# requests
# Flask
# dash

# Debugging
jupyter
pylint
rope
black
