# Computation
numpy
pandas
tensorflow
statsmodels
scikit-learn
interpret
pyarrow
fbprophet

# Plotting
hvplot
# holoviews
bokeh
matplotlib
seaborn
selenium
phantomjs-binary


# requests
# Flask
# dash

# Debugging
jupyter
pylint
flake8
rope
black
tabulate
